body {
    background-color: orange;
}

#galeri {
    position: relative;
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}

img {
    width: 300px;
    height: 200px;
    position: absolute;
    left: 0px;
    right: 0px;
}