body {
    background-color: #a8dadc;
    color: white;
}

@media screen and (min-width: 600px) {
    body {
        background-color: #e76f51;
    }
}

@media screen and (min-width: 800px) {
    body {
        background-color: #457b9d;
    }
}

@media screen and (min-width: 1200px) {
    body {
        background-color: #e9c46a;
    }
}